body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px;

  position: relative;
  display: block;
}

body > *  {
  margin: auto;
  display: block;
  overflow: auto;
  width: 80%;
}

body > script {
  display: none
}

