/* styles for index.html */

.logo {
    display: inline;
    float: left;
    margin-right: 1em;
}

.header {
  padding: 10px 25px 10px 25px;
}

.header .title {
  font-weight: bold;
  font-size: 50px;
}

.header .title .link {
  color: #0060B6;
}

.header .subtitle {
  display: inline;
  font-size: 15px;
}

.header .icons {
  display: inline;
  float: right;
  padding: 20px;
}

.header .icons .icon {
  width: 30px;
  height: 30px;
}

.header .icons .feed img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.header .icons .about {
  padding-left: 16px;
}

.divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.content {
  padding: 25px 25px 25px 25px;
}

.content .post {
  padding-top: 10px;
  padding-bottom: 15px;
}

.content .post .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.intro {
  margin-bottom: 1em;
}
