body {
  padding: 25px 0 0 0;
  margin: 0px;
}

body > *  {
  width: 1000px;
}


.left {
  display: inline;
  overflow: hidden;
  padding: 0 0 0 20px;
  margin: 0;
  border: 0;
}


.left .name {
  display: inline;
  font-weight: bold;
  color: #0060B6;
  height: 25px;
  font-size: 50px;
  line-height: 25px;
}


.content {
  font-size: 130%;
  line-height: 1.7;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 25px;
}
