body {
  padding: 0px;
  margin: 0px;
}

body > *  {
  width: 1000px;
}

.header {
  margin: 0;
  padding: 0 25px 0 25px;
  border: 0;
  border-bottom: 1px solid #808080;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

.header .nav {
  height: 40px;
  font-size: 40px;
}

.header .nav .index {
  display: inline;
  float: left;
}

.header .nav .name {
  /*display: inline;*/
  font-weight: bold;
}

.header .nav .name .link {
  color: #0060B6;
}

.header .nav .name .link:hover {
  color: #00A0C6;
}

.header .nav .share {
  display: inline;
  float: right;
}






.content {
  font-size: 130%;
  line-height: 1.7;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 25px;
}
